@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
:root {
    --main-color: #ffffff;
    --secondary-color: #c1dada;
    --main-text-color: #1a1a1d;
    --secondary-text-color: #1d5a46;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    color: 	#000000; 
}

#root {
    height: 100%;
}

.app {
    
}

/* HEADER */

.TopHeader{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
}

.TopHeader > .TopHeaderMenu {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.TopHeader > .TopHeaderMenu > .Menu {
    grid-column: 1 / 2;
}
.TopHeader > .TopHeaderMenu > .TopHeaderMenuClients {
    grid-column: 2 / 3;
}
.TopHeader > .TopHeaderMenu > .TopHeaderMenuNews {
    grid-column: 3 / 4;
}
.TopHeaderMenuNews, .TopHeaderMenuClients {
    position: relative;
}

.TopHeaderMenuNews > a, .TopHeaderMenuClients > a  {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    align-self: center;
    text-decoration: none;
    font-family: 'Nunito';
    color: black;
}

.TopHeader > .TopHeaderLogo {
    position: relative;
    grid-column: 2 / 3;
}
.TopHeader > .TopHeaderLogo > img {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    align-self: center;
}

.TopHeader > .TopHeaderSearch {
    grid-column: 3 / 4;
    background-color: #c0d9d9;
}

/*BURGER MENU STYLING */
/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #000000;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #bbd7d7;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #bbd7d7;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #000;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    text-decoration: none;
    color: #000;
    margin: 10px;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  /*SEARCHBAR STYLING */
  .TopHeaderSearch > form > input {
	outline: none;
}
.TopHeaderSearch > form > input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
.TopHeaderSearch > form > input::-webkit-search-decoration,
.TopHeaderSearch > form > input::-webkit-search-cancel-button {
	display: none; 
}

.TopHeaderSearch > form > input[type=search] {
	background: url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}

.TopHeaderSearch > form > input[type=search]:focus {
	width: 130px;
	background-color: none;
	border-color: #bbd7d7;
	
	-webkit-box-shadow: 0 0 5px rgba(187,215,215,1);
	-moz-box-shadow: 0 0 5px rgba(187,215,215,1);
	box-shadow: 0 0 5px rgba(187,215,215,1);
}

.TopHeaderSearch > form > input:-moz-placeholder {
	color: none;
}
.TopHeaderSearch > form > input::-webkit-input-placeholder {
	color: none;
}
    /* Demo 2 */
    #TopHeaderSearchBar input[type=search] {
        width: 15px;
        padding-left: 10px;
        color: transparent;
        cursor: pointer;
    }
    #TopHeaderSearchBar input[type=search]:hover {
        background-color: none;
    }
    #TopHeaderSearchBar input[type=search]:focus {
        width: 130px;
        padding-left: 32px;
        color: #000;
        background-color: none;
        cursor: auto;
            position: absolute;
            top: 50%;
            left: 70%;
            transform: translate(-50%, -50%);
            align-self: center;
    }
    #TopHeaderSearchBar input:-moz-placeholder {
        color: transparent;
    }
    #TopHeaderSearchBar input::-webkit-input-placeholder {
        color: transparent;
    }
    .TopHeaderSearch {
        position: relative;
    }
    #TopHeaderSearchBar > input { 
            position: absolute;
            top: 50%;
            left: 90%;
            transform: translate(-50%, -50%);
            align-self: center;
    }